<html>

<head>
    <link rel=stylesheet type=text/css href="{{url_for('static', filename='style.css')}}">
</head>

<body>
    <div class='header'><h1>{{restaurant.name}}<h1></div>

    <div class='flash'>
        {% with messages = get_flashed_messages()%}
            {% if messages %}
                <ul>
                {% for message in messages %}
                    <li><strong>{{ message }}</strong></li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>

    <div class='create'>
        <a href='{{url_for('newMenuItem', restaurant_id = restaurant.id)}}'>Create a new item</a>
    </div>

    <div class='back'>
        <a href='{{url_for('showRestaurants')}}'>Back to Restaurants</a>
    </div>

    <div class="menu_list">

        {% for i in items %}

        <div class="menu_item">
            <h4>{{i.name}}</h4>
            <a class='edit_url' href='{{url_for('editMenuItem', restaurant_id = restaurant.id, menu_id = i.id)}}'>Edit</a></br>
            <a class='delete_url' href='{{url_for('deleteMenuItem', restaurant_id = restaurant.id, menu_id = i.id)}}'>Delete</a>

        </div>

        {% endfor %}

    <div>
</body>

</html>